.fundinglist-container {
  .select {
    cursor: pointer;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: red;
    font-weight: bold;
  }

  .list-title {
    text-shadow: 5px 4px 2px black;
  }
}
