$deg1: 180 - (900/7 * 1);
$deg2: $deg1 * 2;
$deg3: $deg1 * 3;
$deg4: $deg1 * 4;
$deg5: $deg1 * 5;
$deg6: $deg1 * 6;

.object {
  overflow: hidden;
  position: relative;
  width: 90%;
  height: 80vh;
  margin: 30px auto;
  perspective: 1500px;

  .title {
    width: 30%;
    margin: 0 auto 3vh;
    border-width: 0 0 2px 0;
    border-color: red;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cell {
  padding-top: 40px;
  position: absolute;
  width: 90%;
  height: 70vh;
  left: 10px;
  top: 0px;
  color: white;
  font-size: 3vh;
  text-align: center;
}

.cell:nth-child(1) {
  transform: rotateY(1deg) translateZ(400px);
}
.cell:nth-child(2) {
  transform: rotateY(#{$deg1}deg) translateZ(400px);
}
.cell:nth-child(3) {
  transform: rotateY(#{$deg2}deg) translateZ(400px);
}
.cell:nth-child(4) {
  transform: rotateY(#{$deg3}deg) translateZ(400px);
}
.cell:nth-child(5) {
  transform: rotateY(#{$deg4}deg) translateZ(400px);
}
.cell:nth-child(6) {
  transform: rotateY(#{$deg5}deg) translateZ(400px);
}
.cell:nth-child(7) {
  transform: rotateY(#{$deg6}deg) translateZ(400px);
}

.button-group {
  text-align: center;
}

#image {
  width: 100%;
  height: 72%;
}
