<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>j10c204.p.ssafy.io:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <message>movieId</message>
            </fieldNames>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <logger name="com.ssafy.funding.service.MovieService" level="info">
        <appender-ref ref="LOGSTASH" />
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>