.progressbar {
  background: #ffefa04a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.4),
    0px -3px 3px -3px rgba(255, 255, 255, 0.25),
    inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.bar {
  top: 50%;
  transform: translateY(-50%);
  // background: linear-gradient(to bottom, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
  background: linear-gradient(
    to bottom,
    rgb(246, 246, 120) 0%,
    rgb(173, 173, 0) 100%
  );
  border-radius: 16px;
  box-shadow: 0px 0px 12px 0px rgb(234, 231, 25),
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45),
    inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25),
    inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  // box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
  overflow: hidden;
}

.bar span {
  position: absolute;
  display: block;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  top: 0;
  left: 0;
  background: url("../../images/bubble.webp") 0 0;
  animation: sparkle 3000ms linear infinite;
  opacity: 0.5;
}

@keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
