* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dovemayo-Medium";
  max-width: 450px;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  background: #eeeeee;
  position: relative;
  margin: auto;
}

body {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;

  &:visited {
    color: white;
  }
}

.none-scroll::-webkit-scrollbar {
  display: none;
}

// // 프리텐다드
// @font-face {
//   font-family: "Pretendard-Regular";
//   src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
//     format("woff");
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: "Dovemayo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BagelFatOne-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HSSanTokki20-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HakgyoansimByeolbichhaneulTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Yeongdo-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HakgyoansimPuzzleTTF-Outline";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Outline.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
