.back {
  overflow: hidden;
  background: #373939 no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  padding: 2px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;

  &::before {
    content: "";
    height: 0px;
    padding: 0px;
    border: 130em solid #000;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 2;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
      borderRadius 1s 2.3s linear forwards;
  }
}

.profile-card {
  background: url("../images/pop.png") no-repeat center center/contain;
  width: 80%;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  // border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.2s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card .profile-bio {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #000000;
  color: #333333;
  text-align: center;
  opacity: 0;
  animation: moveIn 1s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 70px;
    height: 70px;
    background: url("../images/pop.png") no-repeat center center/contain;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 110%;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
    border-width: 0;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: url("../images/pop.png") no-repeat center center/contain;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: url("../images/pop.png") no-repeat center center/contain;
  }
}

@keyframes materia {
  0% {
    background: #000000;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 90%;
    height: 40vh;
    background: #000000;
    border-radius: 4px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}
