.movielist-container {
  .active-slide {
    font-weight: bold;
    border-width: 0 0 3px 0;
    border-color: red;
  }

  .slider-container {
    margin-bottom: 10px;
    border-width: 0 0 1px 0;
    border-color: red;
  }
}
