.nav-container {
  .group {
    box-shadow: inset 0px 3px 10px 5px rgb(168, 6, 6);
  }

  .food {
    z-index: -1;

    .popcorn {
      width: 2vh;
      background: url("../images/popcorn.webp") center no-repeat;
    }

    .soda {
      width: 2vh;
      background: url("../images/soda.webp") center no-repeat;
    }
  }

  .active {
    .moding-ear {
      display: block;
    }
  }
}
